<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Live Streaming</title>
</head>
<body>

<div class="container">
    <h1>Live Streaming</h1>
    <div class="video-container">
        <img id="video-feed" src="{{ url_for('video') }}" alt="Video Feed">
        <span>This is Shakil Kathat !!</span>
        <p>@2023 Shakil Kathat</p>
        
    </div>
</div>

</body>
</html>
